<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tapatan.a"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="tapatan.a.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

	    <activity
	        android:name="tapatan.a.DisplayGame"
	        android:label="@string/game_new"
	        android:parentActivityName="tapatan.a.MainActivity" >
	        <meta-data
	            android:name="android.support.PARENT_ACTIVITY"
    	        android:value="tapatan.a.MainActivity" />
    	</activity>"AndroidManifest.xml"

       	<activity
	        android:name="tapatan.a.DisplayInstructions"
	        android:label="@string/game_instructions"
	        android:parentActivityName="tapatan.a.MainActivity" >
	        <meta-data
	            android:name="android.support.PARENT_ACTIVITY"
    	        android:value="tapatan.a.MainActivity" />
    	</activity> 
    </application>

</manifest>
